<section class="w-75 m-auto my-5 bg-main-light rounded shadow p-4">
  <h3 class="fw-lighter">Register Now:</h3>
  <form (ngSubmit)="handleRegister()" [formGroup]="registerForm">
    <div class="form-item mb-3">
      <label class="mb-1" for="name">name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
      />
      <div
        *ngIf="
          registerForm.get('name')?.errors &&
          (registerForm.get('name')?.touched ||
            registerForm.get('name')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="registerForm.get('name')?.getError('required')">
          Name is required
        </p>
        <p *ngIf="registerForm.get('name')?.getError('minlength')">
          must be at least 3 chars
        </p>
        <p *ngIf="registerForm.get('name')?.getError('maxlength')">
          must be at most 10 chars
        </p>
      </div>
    </div>
    <div class="form-item mb-3">
      <label class="mb-1" for="email">email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      />
      <div
        *ngIf="
          registerForm.get('email')?.errors &&
          (registerForm.get('email')?.touched ||
            registerForm.get('email')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="registerForm.get('email')?.getError('required')">
          email is required
        </p>
        <p *ngIf="registerForm.get('email')?.getError('email')">
          email is invalid format
        </p>
      </div>
    </div>
    <div class="form-item mb-3">
      <label class="mb-1" for="password">password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <div
        *ngIf="
          registerForm.get('password')?.errors &&
          (registerForm.get('password')?.touched ||
            registerForm.get('password')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="registerForm.get('password')?.getError('required')">
          password is required
        </p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')">
          must be at least 6 chars
        </p>
      </div>
    </div>
    <div class="form-item mb-3">
      <label class="mb-1" for="rePassword">rePassword</label>
      <input
        type="password"
        id="rePassword"
        formControlName="rePassword"
        class="form-control"
      />
      <div
        *ngIf="
          registerForm.get('rePassword')?.errors &&
          (registerForm.get('rePassword')?.touched ||
            registerForm.get('rePassword')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="registerForm.get('rePassword')?.getError('required')">
          rePassword is required
        </p>
        <p *ngIf="registerForm.get('rePassword')?.getError('pattern')">
          must be at least 6 chars
        </p>
      </div>
    </div>
    <div class="form-item mb-3">
      <label class="mb-1" for="phone">phone</label>
      <input
        type="tel"
        id="phone"
        formControlName="phone"
        class="form-control"
      />
      <div
        *ngIf="
          registerForm.get('phone')?.errors &&
          (registerForm.get('phone')?.touched ||
            registerForm.get('phone')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="registerForm.get('phone')?.getError('required')">
          phone is required
        </p>
        <p *ngIf="registerForm.get('phone')?.getError('pattern')">
          accept only egypt phone numbers
        </p>
      </div>
    </div>
    <button
      [disabled]="registerForm.invalid"
      class="main-btn mt-4 d-block ms-auto"
      type="submit"
    >
      Register
      <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>

    <p *ngIf="errorMsg" class="text-danger text-center py-2">{{ errorMsg }}</p>

    <p>
      Already have account ?
      <span
        class="text-decoration-underline"
        role="button"
        (click)="islogined()"
        >login</span
      >
    </p>
  </form>
</section>
