<section class="w-75 m-auto my-5 bg-main-light rounded shadow p-4">
  <h3 class="fw-lighter">Login Now:</h3>
  <form (ngSubmit)="handleLogin()" [formGroup]="loginForm">
    <div class="form-item mb-3">
      <label class="mb-1" for="email">email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      />
      <div
        *ngIf="
          loginForm.get('email')?.errors &&
          (loginForm.get('email')?.touched ||
            loginForm.get('email')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="loginForm.get('email')?.getError('required')">
          email is required
        </p>
        <p *ngIf="loginForm.get('email')?.getError('email')">
          email is invalid format
        </p>
      </div>
    </div>
    <div class="form-item mb-3">
      <label class="mb-1" for="password">password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <div
        *ngIf="
          loginForm.get('password')?.errors &&
          (loginForm.get('password')?.touched ||
            loginForm.get('password')?.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="loginForm.get('password')?.getError('required')">
          password is required
        </p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')">
          must be at least 6 chars
        </p>
      </div>
    </div>
    <a routerLink="/forgotPassword"> you are Forgot Password...?</a>
    <button
      [disabled]="loginForm.invalid"
      class="main-btn mt-4 d-block ms-auto"
      type="submit"
    >
      Login
      <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>

    <p *ngIf="errorMsg" class="text-danger text-center py-2">{{ errorMsg }}</p>
  </form>
</section>
